.draft-editor {
  border: 1px solid #9e9e9e;
  cursor: text;
  padding: 20px;
  border-radius: 5px;
  min-height: 30rem;
  height: calc(100vh - 14rem);
}
.heading-el > div > span {
  text-decoration: none !important;
  color: #000 !important;
}
.color-el > div > span {
  text-decoration: none !important;
  color: red;
}
.bold-el > div > span {
  text-decoration: none !important;
  color: #000 !important;
}
.underline-el > div > span {
  color: #000 !important;
}
.remove-styles > div > span {
  text-decoration: none !important;
  color: #000 !important;
  font-weight: normal !important;
}
.code-block-styles {
  background: #ececec;
  padding: 0.6rem;
  border-radius: 0.18rem;
}
.code-block-styles > div > span {
    text-decoration: none !important;
    color: #000 !important;
    font-weight: normal !important;
}
